<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dnafactory" translate="label" sortOrder="10">
            <label>DNAFactory</label>
        </tab>
        <section id="dnafactory" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Currency Settings</label>
            <tab>dnafactory</tab>
            <resource>DNAFactory_Currency::settings</resource>
            <group id="currency" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Currency</label>
                <field id="position" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default position</label>
                    <source_model>DNAFactory\Currency\Model\Config\Source\ListPosition</source_model>
                </field>
            </group>
        </section>
    </system>
</config>